.titleGame {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: var(--gray-900);
}
.gameContainer {
  display: flex;
  flex-direction: column;
  width: 80rem;
  max-width: 90%;
  margin: auto;
  padding: 2.5rem 0px;
  gap: 1.5rem;
}

.gamePokemonImage {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 20rem;
  max-height: 20rem;
  margin: 0 auto;
}

.gamePokemonImage img {
  height: 100%;
  filter: brightness(0);
}

.gamePokemonImage img.visible {
  transition: all 600ms linear;
  filter: brightness(1);
}

.nextPokemonBtn {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 7px;
}

.nextPokemonBtn:hover {
  background-color: var(--primary-color-20);
}

.nextPokemonBtn .counter {
  color: var(--primary-color);
}
