.titleGame {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: var(--gray-900);
}
.gameContainer {
  display: flex;
  flex-direction: column;
  width: 80rem;
  max-width: 100%;
  min-height: 100%;
  margin: 4rem auto;
  gap: 1.5rem;
}
