.titleGame {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: var(--gray-900);
}
.gameContainer {
  display: flex;
  flex-direction: column;
  width: 80rem;
  max-width: 100%;
  min-height: 100%;
  margin: auto;
  gap: 1.5rem;
}

.gamePokemonImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
  margin: 0 auto;
}

.gamePokemonImage img {
  height: 100%;
  filter: brightness(0);
}

.gamePokemonImage img.visible {
  transition: all 600ms linear;
  filter: brightness(1);
}
