.pageNotFoundBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2rem;
}

.pageNotFoundBanner .imageNotFound {
  width: 40rem;
  max-width: 100%;
}

.pageNotFoundBanner p {
  font-size: 2.6rem;
  color: var(--gray-400);
  margin: 0px;
  text-align: center;
}

.pageNotFoundBanner .btnBackToHome {
  width: 25rem;
  max-width: 100%;
}
