.pokemonDescriptionContainer {
  display: flex;
  height: calc(100dvh - 4.5rem);
}

.containerInfo {
  display: flex;
  flex-direction: column;
  color: var(--gray-700);
  flex: 1;
  gap: 1rem;
  padding: 1rem;
  font-size: 1rem;
}

.btnGoBack {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  aspect-ratio: 1/1;
  border: none;
  background-color: var(--gray-100);
}

.btnGoBack:hover {
  background-color: var(--gray-200);
}
.pokemonNumber {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--gray-800);
}

.pokemonName {
  font-size: 4rem;
  font-weight: bold;
  color: var(--gray-800);
}

.pokemonGeneration {
  font-size: 1rem;
  font-weight: bold;
  color: var(--gray-500);
}

.pokemonsTypes {
  display: flex;
}

.navBarInformation {
  display: flex;
}

.navBarInformation .option {
  flex: 1;
  padding: 0.3rem 0.2rem;
  color: var(--gray-700);
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid var(--gray-400);
  cursor: pointer;
}
.navBarInformation .option:hover {
  background-color: var(--gray-200);
}

.navBarInformation .option.active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}
.navBarInformation .option.active:hover {
  background-color: transparent;
}

.infoBox {
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow-default);
  padding: 1rem;
  border-radius: 0.5rem;
  gap: 1rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--gray-500) transparent;
}

.pokedexData {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.aboutLabel {
  font-weight: bold;
  color: var(--success-color);
}

.about {
  color: var(--gray-600);
}

.infoRow {
  display: flex;
  gap: 0.5rem;
  flex: 1;
}
.infoRow .label {
  font-weight: bold;
  min-width: 7rem;
  color: var(--gray-900);
  flex: 1;
}

.infoRow .info {
  min-width: 7rem;
  flex: 1;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.infoRowStat {
  display: flex;
  gap: 1rem;
  flex: 1;
  align-items: center;
}

.infoRowStat .stat {
  font-weight: bold;
  min-width: 5rem;
  color: var(--gray-900);
}

.infoRowStat .bar {
  min-width: 5rem;
  flex: 1;
  border-radius: 100px;
  overflow: hidden;
  background-color: var(--gray-300);
}

.infoRowStat .progress {
  width: 50%;
  background-color: var(--success-color);
  height: 0.3rem;
}

.infoRowStat .minStat {
  min-width: 5rem;
}

.infoRowStat .maxStat {
  min-width: 5rem;
}

.evolution {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.evolutioLabel {
  font-weight: bold;
  color: var(--success-color);
}

.evolutionChain {
  display: flex;
  gap: 1.5rem;
}
.evolutionPokemon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.3rem;
  border: 1px solid var(--gray-200);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-soft);
  cursor: pointer;
}
.evolutionPokemon:hover {
  background-color: var(--gray-50);
}
.evolutionPokemon .evolutionImageContainer {
  background-color: var(--gray-200);
  height: 7rem;
  border-radius: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.evolutionPokemon .evolutionImageContainer img {
  height: 70%;
}
.evolutionPokemon .pokemonNumber {
  font-size: 1rem;
  text-align: center;
  color: var(--gray-600);
}

.evolutionPokemon .pokemonName {
  font-size: 1.2rem;
  text-align: center;
  color: var(--gray-800);
}

.pokemonTypes {
  display: flex;
}
/*----------------------------------------------------------------------*/
.containerPokemon {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  justify-content: end;
  padding: 2rem 0;
}

.containerPokemon .bgPokeball {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.containerPokemon .bgDots {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 7%;
  transform: translateX(-50%);
}

.containerPokemon .pokemonImage {
  position: absolute;
  height: 50%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-30%);
}

.containerPokemon .btnSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  padding: 1.5rem;
}
