.containerPokemonCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: space-between;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr)); */
  gap: 4.5rem;
  padding: 4rem;
  margin: 0 auto;
  overflow: hidden;
}

.messagePokemonNoFound {
  padding: 1.5rem 2rem;
  font-size: 1.2rem;
  border-radius: 0.7rem;
  border: 1px solid var(--gray-300);
  background-color: var(--bg-secondary);
  width: 50rem;
  max-width: 90%;
  margin: 3rem auto;
}

@media (max-width: 640px) {
  .containerPokemonCard {
    padding: 1.5rem;
    gap: 2.5rem;
  }
}
