.containerPokemonCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: space-between;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr)); */
  gap: 4.5rem;
  padding: 4rem;
  margin: 0 auto;
  overflow: hidden;
}
