.searchInput {
  width: 100%;
  position: relative;
}

.searchInput .icon {
  position: absolute;
  height: 40%;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  fill: var(--gray-600);
}

.searchInput input {
  background-color: var(--bg-secondary);
  color: var(--gray-800);
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 2.5rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow-default);
  border: none;
}

.searchInput input::placeholder {
  color: var(--gray-400);
}

.searchInput input:focus {
  outline: 0;
}
