.branding {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.branding {
    cursor: pointer;
}

.branding .logo {
    height: 2.5rem;
}

.branding .name {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}