.branding {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.branding {
  cursor: pointer;
}

.branding .logo {
  height: 2.1rem;
}

.branding .name {
  font-size: 1.8rem;
  line-height: 2.25rem;
  font-weight: 700;
  color: var(--gray-900);
}
