.pokemonCard {
  margin: auto;
  flex: 1 0 20rem;
  box-shadow: var(--box-shadow-pokemon-card);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  padding: 5rem 1.25rem;
  transition-duration: 0.3s;
  max-width: 100%;
  cursor: pointer;
  text-decoration: none;
}

.pokemonCard p {
  margin: 0;
}

.pokemonCard .dottedPattern {
  position: absolute;
  top: 2.1rem;
  height: 18%;
}

.pokemonCard .pokeballBackground {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.pokemonCard .pokemonImage {
  position: absolute;
  height: 80%;
  right: -3rem;
}

.cardInfo {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: flex-end;
  text-align: start;
}

.cardTags {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 640px) {
  .pokemonCard {
    padding: 4rem 1.25rem;
  }

  .pokemonCard .pokemonImage {
    right: 0;
    height: 65%;
  }
}
