.finalScoreMessage {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  gap: 1.5rem;
  padding: 3rem 0px;
}

.finalScoreMessage .message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.finalScoreMessage .message .label {
  color: var(--primary-color);
}

.finalScoreMessage .message .score {
  color: var(--gray-700);
}
