.gamePokemonOptions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-template-rows: auto;
  justify-content: center;
  gap: 1rem;
}

.gamePokemonOptions button {
  max-width: 100%;
}
