.containerResultMessage {
  min-height: 1.7rem;
  max-height: 1.7rem;
}
.gameResultMessage {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
}

.gameResultMessage.correct {
  color: var(--success-color);
}

.gameResultMessage.incorrect {
  color: var(--danger-color);
}
