.stats {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 1rem;
}

.statsInfo {
  color: var(--gray-700);
}

.infoRowStat {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.75rem;
}

.stat {
  font-weight: bold;
  min-width: 6rem;
  color: var(--gray-900);
}

.otherStats {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex: 1;
}
.baseStat,
.minStat,
.maxStat {
  text-align: center;
  min-width: 3rem;
}

.bar {
  flex: 1;
  min-width: 5rem;
  height: 0.5rem;
  background-color: var(--gray-300);
  border-radius: 100px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: var(--success-color);
  transition: width 0.3s ease;
}

.totalRow .bar {
  background-color: transparent;
}
