.searchSeccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  background-color: var(--primary-color);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  position: relative;
}

.backgroundPattern {
  position: absolute;
  top: 50%;
  height: 50%;
}

.backgroundPattern.left {
  left: 2.5rem;
  transform: translateY(-50%);
}

.backgroundPattern.right {
  right: 2.5rem;
  transform: scaleX(-1);
  transform: translateY(-50%);
}
