.header {
  display: flex;
  justify-content: center;
  border-bottom-width: 1px;
  border-color: #d1d5db;
  box-shadow: var(--box-shadow-soft);
}

.header .options {
  display: flex;
  gap: 1.75rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--gray-700);
}

.header .headerSections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 85%;
}
