.header {
  display: flex;
  justify-content: center;
  border-bottom-width: 1px;
  border-color: #d1d5db;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  grid-area: header;
}

.header .options {
  display: flex;
  gap: 1.75rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #9ca3af;
}

.header .headerSections {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: 85%;
}
