@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/Roboto-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --primary-color: #ea5d60;
  --primary-color-20: rgba(234, 93, 95, 0.2);
  --primary-color-hover: #d65456;
  --white-color: #ffffff;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5dc;
  --gray-400: #99a1af;
  --gray-500: #6a7282;
  --gray-600: #4a5565;
  --gray-700: #364153; /*suggested only for text*/
  --gray-800: #1e2939; /*suggested only for text*/
  --gray-900: #101828; /*suggested only for text*/
  --bg-primary: #ffffff;
  --bg-secondary: #f0f2f5;
  --box-shadow-default:
    0 0px 6px -1px rgba(17, 24, 39, 0.3), 0 2px 4px -2px rgba(17, 24, 39, 0.3);
  --box-shadow-soft:
    0 4px 6px -1px #0000001a, 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-pokemon-card:
    0 10px 15px -3px #9ca3af, 0 4px 6px -4px rgba(156, 163, 175, 1);
  --danger-color: #e53935;
  --success-color: #43a047;
  --warning-color: #fb8c00;
  --danger-color-hover: #b32e2a;
  --success-color-hover: #357a38;
  --warning-color-hover: #c47100;

  --overlay-white-bg: rgba(233, 234, 242, 0.5);
  --overlay-white-bg-70: rgba(233, 234, 242, 0.7);
  --overlay-white-bg-80: rgba(233, 234, 242, 0.8);
  --overlay-white-bg-90: rgba(233, 234, 242, 0.9);

  --info-color: #1d4ed8;
  --info-color-light: #eff6ff;
  --info-color-border: #93c5fd;
  --info-icon: #60a5fa;

  --error-color: #b91c1c;
  --error-color-light: #fef2f2;
  --error-color-border: #fca5a5;
  --error-icon: #f87171;

  --success-color-light: #ecfdf5;
  --success-color-border: #6ee7b7;
  --success-icon: #34d399;

  --warning-color-light: #fefce8;
  --warning-color-border: #fde68a;
  --warning-icon: #facc15;

  /*
  Breakpoints 
  screen-xs: 480px;
  screen-sm: 640px;
  screen-md: 768px;
  screen-lg: 1024px;
  screen-xl: 1280px;
  screen-2xl: 1536px; 
  */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-primary);
}
